:root {
  --main-bg-color: #4143b1;
  --second-bg-color: #221727;
  --second-bg-color-transparent: rgba(34, 23, 39, 0.8);
  --highlight-color: #5ef4d6;
  --highlight-color-second: #24e5a3;
  --w-color: #f1fff6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  color: var(--w-color);
}

a,
ul,
li {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--main-bg-color) url(/images/mintbean-dome.png) no-repeat
    center / cover;
}

.container {
  position: relative;
  display: flex;
  flex: 1;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--second-bg-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.hamburger {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 2rem;
  color: var(--highlight-color);
}

.nav__list {
  display: none;
  margin-top: 1rem;
  text-align: center;
}

.nav__item,
.nav__link {
  display: block;
}

.nav__item:not(:first-child) {
  margin-top: 1rem;
}

.nav__link:hover {
  color: var(--highlight-color-second);
}

.button {
  display: block;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--second-bg-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--highlight-color-second);
}

.button:hover {
  color: var(--second-bg-color);
  background-color: var(--highlight-color);
}

.hero {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 2rem 0;
}

.card {
  padding: 2rem;
  background-color: var(--second-bg-color-transparent);
  border: 2px solid var(--highlight-color);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.card__title {
  font-family: 'Viga', sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.card__text {
  padding: 1rem 0;
  font-weight: 100;
  line-height: 1.6rem;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    width: 85%;
  }

  .nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0;
  }

  .nav__item:not(:first-child) {
    margin: 0;
  }

  .nav__item:not(:last-child) {
    padding-right: 1rem;
    border-right: 1px solid currentColor;
  }

  .card {
    width: 55%;
  }

  .button {
    display: inline-block;
  }
}
